@{
    ViewData["Title"] = "DataSheet";
}

<head>
    <style>

        table, th, td {
            border-style: solid;
        }

        th {
            text-align: center;
            border-style: solid;
            margin: 20px 25px;
            padding: 20px 25px;
        }

        td {
            border-style: solid;
            margin: 20px 25px;
            padding: 20px 25px;
            text-align: center;
        }

    </style>
</head>

<body>
    <h1>DataSheet</h1>

    <br />

    <h2>Customer Orders</h2>

    <br />

    <table>
        <tr>
            <th>Preorder Status</th>
            <th>Custom Decal</th>
            <th>Primary Color</th>
            <th>Secondary Color</th>
            <th>Size</th>
        </tr>
        <tr>
            <td>
                test data
            </td>
            <td>
                test data
            </td>
            <td>
                test data
            </td>
            <td>
                test data
            </td>
            <td>
                test data
            </td>
        </tr>

    </table>
</body>




