@page
@model DataSheetModel
@{
    ViewData["Title"] = "Database";
}

<style>
    table{
        margin-top: 100px;
    }

    tr{
        margin: 50px;
    }

    th,td{
        padding: 20px;
    }
</style>


<h1>@ViewData["Title"]</h1>

<div>
    <h2>Some data table</h2>
    <p>This is a random empty data table</p>
    <br />
    <hr />
    <table>
        <tr>
            <th>Table Head 1</th>
            <th>Table Head 2</th>
            <th>Table Head 3</th>
        </tr>
        <tr>
            <td>content</td>
            <td>content</td>
            <td>content</td>
        </tr>
    </table>
</div>
