@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is an ASP.Net web page.</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Default ASP.Net webpage</a>.</p>
</div>
